// conf/hpcgenomes.config
params {
    // This tells the pipeline to ignore the default S3/iGenomes paths
    igenomes_ignore = true 

    genomes {
        'hg19' {
            fasta   = "/cluster/tools/data/genomes/human/hg19/ref/ucsc.hg19.fasta"
            bwa     = "/cluster/tools/data/genomes/human/hg19/bwa/"
            // Add only the tools you are actually using
            // bowtie2 = "/cluster/data/igenomes/Homo_sapiens/UCSC/hg19/Sequence/Bowtie2Index/"
        }
        'hg38' {
            fasta   = "/cluster/data/igenomes/Homo_sapiens/UCSC/hg38/Sequence/WholeGenomeFasta/genome.fa"
            bwa     = "/cluster/data/igenomes/Homo_sapiens/UCSC/hg38/Sequence/BWAIndex/"
        }
    }
}

