/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

// ref/type: first reference genome
// ref2/type2: second reference genome
// Example 1 - hg19Aligned_virusUnknown: meta: [id: "sample1", rg: $RG, ref: "hg19", type: "Aligned", ref2: "virus", type2: "Unknown", consensus: "none/dcs/dcs.sc/sscs/sscs.sc/all.unique.dcs"]
// Example 2 - hg19Unmapped_HPV_38genomesAligned: meta: [id: "sample1", rg: $RG, ref: "hg19", type: "Unmapped", ref2: "HPV_38genomes", type2: "Aligned", consensus: "none/dcs/dcs.sc/sscs/sscs.sc/all.unique.dcs"]]

process {
/*
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
*/
    withName: 'SRATOOLS_FASTERQDUMP' {
        module = 'sratoolkit/3.3.0'
    }

    withName: FASTQC {
        if (params.skip_fastqc) {
            ext.when = false
        }
        module = 'fastqc/0.12.1'
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        if (params.skip_multiqc) {
            ext.when = false
        }
        module = 'multiqc/1.32'
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [ path: { "results/multiqc" }, mode: 'copy' ] //, saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    }

    withName: 'TAGTOHEADER' {
        publishDir = [ path: "results/tag_to_header", mode: 'copy' ] 
    }
    withName: '.*SAMTOOLS_.*' { 
        module = 'samtools/1.20' 
    }
    withName: '.*SAMTOOLS_SORT' {
        // This resolves the name clash by renaming the output
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}_${meta.consensus}_sorted" } 
    }
    withName: '.*SAMTOOLS_VIEW_UNMAPPED' {
        ext.prefix = { "${meta.id}_${meta.ref}Unmapped" }
        ext.args = { "-f 4 --output-fmt bam"} 
    }
    withName: '.*SAMTOOLS_VIEW_PROPERLYPAIRED' {
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}_${meta.consensus}.f2" }
        ext.args = { "-f 2 --output-fmt bam"} 
    }
    withName: '.*BWA_MEM' { 
        module = ['bwa/0.7.15', 'samtools/1.20']
        ext.args = { "-R ${meta.rg}" } 
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}" } 
    }
    withName: 'HPVSEQ:ALIGN_BWA:BAM_.*STATS_SAMTOOLS:SAMTOOLS_.*' {
        publishDir = [ path: "results/bwa", mode: 'copy' ] 
    }
    withName: 'HPVSEQ:QUANTIFICATION:BAM_.*STATS_SAMTOOLS:SAMTOOLS_.*' {
        publishDir = [ path: "results/bwa_virus", mode: 'copy' ] 
    }
    withName: 'GATK4_BASERECALIBRATOR' {
        //beforeScript = 'export PYTHONPATH=""; export PYTHONHOME=""; export PYTHONNOUSERSITE=1'
        beforeScript = 'unset PYTHONPATH; unset PYTHONHOME; export APPTAINER_CLEANENV=1'
        module = 'gatk/4.6.0.0'
    }
    withName: 'GATK4_APPLYBQSR' {
        //beforeScript = 'unset PYTHONPATH'
        //beforeScript = 'module unload gatk/3.8'
        //beforeScript = 'export PYTHONPATH=""; export PYTHONHOME=""; export PYTHONNOUSERSITE=1'
        beforeScript = 'unset PYTHONPATH; unset PYTHONHOME; export APPTAINER_CLEANENV=1'
        module = 'gatk/4.6.0.0'
        ext.prefix = { "${meta.id}_bqsr" }
        ext.suffix = "bam" 
    }
    withName: 'SORT_BQSR' {
        // This resolves the name clash by renaming the output
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}_${meta.consensus}_bqsr_sorted" }
        //publishDir = [ path: "results/bqsr", mode: 'copy' ] 
    }
    withName: '.*CONSENSUSCRUNCHER.*' {
        //errorStrategy { task.exitStatus in [137, 143] ? 'retry' : 'ignore' }
        errorStrategy = { task.exitStatus in [137, 143] ? 'retry' : 'ignore' }
        maxRetries    = 2
        publishDir = [ 
            path: {
                meta.type == "Unmapped" ? "results/consensus/${meta.ref2}" : "results/consensus/${meta.ref}"
            }, 
            mode: 'copy' 
        ] 
    }
    withName: 'GENOTYPING_READS' {
        module = 'samtools/1.20' 
        publishDir = [ path: {"results/report/genotyping/"}, mode: 'copy' ] 
    }
    withName: 'PICARD_COLLECTHSMETRICS' {
        conda = 'bioconda::picard=3.4.0 conda-forge::openjdk=21' 
        publishDir = [ path: {"results/report/hsmetrics/"}, mode: 'copy' ]

        // Clean the environment and point to the Conda Java binary
        beforeScript = """
        unset JAVA_HOME
        unset JAVA_ROOT
        export PATH="/cluster/home/jfzou/miniconda3/envs/nextflow_env/bin:\$PATH"
        echo "LOG: Using Java from \$(which java) - version: \$(java -version 2>&1 | head -n 1)"
        """
    }
    withName: 'DEDUP' {
        conda = 'bioconda::picard=3.4.0 conda-forge::openjdk=21' 
        ext.args = '--REMOVE_DUPLICATES true'

        // Clean the environment and point to the Conda Java binary
        beforeScript = """
        unset JAVA_HOME
        unset JAVA_ROOT
        export PATH="/cluster/home/jfzou/miniconda3/envs/nextflow_env/bin:\$PATH"
        echo "LOG: Using Java from \$(which java) - version: \$(java -version 2>&1 | head -n 1)"
        """
    }
    withName: 'SMASH' {
        publishDir = [ path: {"results/report/smash/"}, mode: 'copy' ]
    }
    withName: 'COVERAGE_QC.*' {
        //module     = 'gatk/3.8'
        beforeScript = 'module load gatk/3.8'
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}_${meta.consensus}.qc" }
        //ext.args   = { "-L ${params.bed}" }
        publishDir = [ path: {"results/report/coverage/qc"}, mode: 'copy' ]
    }
    withName: 'COVERAGE_QUANTIFICATION' {
        module = 'gatk/3.8'
        ext.prefix = { "${meta.id}_${meta.ref}${meta.type}_${meta.ref2}${meta.type2}_${meta.consensus}.quantification" }
        publishDir = [ path: {"results/report/coverage/quantification"}, mode: 'copy' ]
    }
    withName: 'SUMMARIZE_REPORT' {
        publishDir = [ path: {"results/summary"}, mode: 'copy' ]
    }
}
